<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        
        <title>MTG Gamer</title>

        <script src="/Scripts/AngularJS/angular.js"></script>
        <script src="/Scripts/AngularJS/angular-route.js"></script>
        <script src="/Scripts/AngularJs/angular.isEmpty.js"></script>
        <script src="/Scripts/JQuery/jquery-2.1.1.js"></script>
        <script src="/Scripts/Bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

        <script src="/app/app.bootstrap.js"></script>
        <!--<script src="/app/controllers/dashboardController.js"></script>-->
        <!--<script src="/app/controllers/profileController.js"></script>-->
        <script src="/app/controllers/menuController.js"></script>
        <script src="/app/controllers/modals/loginModalController.js"></script>
        <script src="/app/controllers/modals/registerModalController.js"></script>
        <script src="/app/directives/validators/equals.js"></script>
        <script src="/app/services/loginService.js"></script>
        
        <link href="/Content/Bootstrap/bootstrap-theme.css" rel="stylesheet"/>
        <link href="/Content/Bootstrap/bootstrap.css" rel="stylesheet"/>
        <link href="/Content/Bootstrap/dashboard.css" rel="stylesheet"/>
    </head>

    <body data-ng-app="mainApp">
        <div data-ng-controller="menuController">

            <div class="row">

                <div class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#collection" ng-if="$root.user != null">MTG Collector</a>
                            <a class="navbar-brand" href="#index" ng-if="$root.user == null">MTG Collector</a>
                        </div>

                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav" ng-if="$root.user != null">
                                <!--<li ng-class="{active: ($root.selectedTab == 'dashboard')}">
                                    <a href="#dashboard">Dashboard</a>
                                </li>-->
                                <li ng-class="{active: ($root.selectedTab == 'collection')}">
                                    <a href="#collection">Collection</a>
                                </li>
                                <li ng-class="{active: ($root.selectedTab == 'decks')}">
                                    <a href="#decks">Decks</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav" ng-if="$root.user == null">
                                <li class="active">
                                    <a href="#home">Home</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li ng-if="$root.user != null" ng-class="{active: ($root.selectedTab == 'profile')}">
                                    <a href="#profile">{{$root.user.name}}</a>
                                </li>
                                <li ng-if="$root.user != null"><a ng-click="logout()">Logout</a></li>
                                <li ng-if="$root.user == null"><a ng-click="login()">Sign in</a></li>
                                <li ng-if="$root.user == null"><a ng-click="register()">Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div data-ng-view></div>
        </div>
    </body>
</html>