<div class="modal-header">
    <h3>
        <span class="glyphicon glyphicon-lock"></span>
        Register
    </h3>
</div>
<div class="modal-body">
    
    <alert type="danger" ng-show="error.showError">{{error.errorText}}</alert>

    <form class="form-horizontal" role="form" name="form.register_form" novalidate>
        <div class="form-group">
            <label class="col-md-4 control-label">
                Username
            </label>

            <div class="col-md-7">
                <input type="text" class="form-control" name="username" placeholder="Username" ng-model="user.username" ng-required="true" />

                <span class="field-validation-error" ng-show="form.register_form.username.$error.required && form.submitted">
                    <span class=" input-validation-error error">
                        {{t.settings.fieldRequired}}
                    </span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">
                Name
            </label>

            <div class="col-md-7">
                <input type="text" class="form-control" name="name" placeholder="Name" ng-model="user.name" ng-required="true" />

                <span class="field-validation-error" ng-show="form.register_form.name.$error.required && form.submitted">
                    <span class=" input-validation-error error">
                        {{t.settings.fieldRequired}}
                    </span>
                </span>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-4 control-label">
                Email
            </label>

            <div class="col-md-7">
                <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" ng-required="true" />

                <span class="field-validation-error" ng-show="form.register_form.name.$error.required && form.submitted">
                    <span class=" input-validation-error error">
                        {{t.settings.fieldRequired}}
                    </span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">
                Password
            </label>

            <div class="col-md-7">
                <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" ng-required="true" />

                <span class="field-validation-error" ng-show="form.register_form.password.$error.required && form.submitted">
                    <span class=" input-validation-error error">
                        {{t.settings.fieldRequired}}
                    </span>
                </span>

            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-4 control-label">
                Password verification
            </label>

            <div class="col-md-7">
                <input type="password" data-ng-model="user.passwordVerification" name="passwordVerification" class="form-control" ng-required="true" equals="user.password" placeholder="Password verification" />

                <span ng-show="form.register_form.passwordVerification.$error.required && submitted">
                    <span>Verify your password</span>
                </span>

                <span ng-show="form.register_form.passwordVerification.$error.equals && user.password.length > 0 && user.passwordVerification.length > 0">
                    <span>Verification does not equals password</span>
                </span>
            </div>
        </div>

        <div style="clear: both"></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="register()">Register</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>